#formProducto {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

#formProducto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

#formProducto .form-control:invalid{
    border:black solid 1px !important;
}

#formProducto .form-group {
    margin-bottom: 20px;
}

#formProducto .form-group label {
    color: #555;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

#formProducto .form-group input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

#formProducto .form-group input[type="file"]:hover {
    background-color: #e9ecef;
}

#formProducto .form-group input[type="file"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#formProducto .btn-warning {
    background-color: #ff9900;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

#formProducto .btn-warning:hover {
    background-color: #e68a00;
}

@media (max-width: 768px) {
    #formProducto {
        max-width: 90%;
        padding: 20px;
    }
    #formProducto h2 {
        font-size: 20px;
    }
}
